html {
  box-sizing: border-box;
  font-size: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[role="list"],
ul[role="list"] {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
